
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_LayoutheadAndFooter.cshtml";
}
<style type="text/css">
    .section_content {
        padding-top: 92px;
        width: 100%;
        height: 1000px;
        background-image: url(../Images/bg3.jpg);
        background-position: 0% 50%;
    }

    .section_content_form {
        /* width: 50%; */
        height: 600px;
        background-color: white;
        margin-top: 8%;
    }

    .section_content_logintype {
        font-size: 18px;
        margin-top: 10%;
        color: gray;
    }

    .section_content_input {
        width: 100%;
        height: auto;
        margin-left: 7%;
        margin-top: 3%;
    }

    .input_userName {
        width: 85%;
        height: 45px;
        background-color: whitesmoke;
        border: none;
        margin-top: 5%;
        border-radius: 10px;
        font-size: 16px;
    }

    .input_btn {
        width: 28%;
        height: 45px;
        margin-left: 5%;
        color: white;
        border: none;
        background-color: #d3b145;
        border-radius: 10px;
        font-size: 16px;
    }

    .input_btn_login {
        width: 85%;
        height: 45px;
        background-color: black;
        color: white;
        border: none;
        margin-top: 5%;
        font-size: 18px;
    }

    .show {
        display: block;
    }

    .hidden {
        display: none;
    }
</style>
<section id="section">
    <div class="section_content container-fluid" style="position: relative;">
        <span class="col-lg-offset-1 col-lg-7" style="position: absolute; left: 8%;top: 30%;">
            <img src="../Images/register-text.png" />
        </span>
        <div class="yanzhengma_login">
            <div class="section_content_form col-lg-3 col-lg-offset-8">
                <p class="section_content_logintype text-center">
                    <span class="namepwdlogin_1">账号密码登录&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span style="color: #d3b145;" class="yanzhengma_1">&nbsp;&nbsp;手机验证码登录</span>
                </p>
                <form action="/" method="post" id="code_login">
                    <div class="section_content_input">
                        <div class="form-group">
                            <input type="text" name="userPhone" id="" value="" placeholder="&nbsp;&nbsp;请输入您的手机号" class="input_userName" />
                        </div>
                        <input id="" type="text" placeholder="&nbsp;&nbsp;*验证码" class="input_userName" style="width: 60%;" />
                        <span id="v_container" style=" display:inline-block;vertical-align: middle;"></span>
                        <div class="form-group">
                            <input class="input_userName" id="code" name="code" type="text" placeholder="&nbsp;&nbsp;*短信验证码" style="width: 50%;" />
                            <input class="input_btn" id="zphone" type="button" value=" 获取验证码 " onClick="get_mobile_code();">
                        </div>
                        
                        
                        <input class="input_btn_login" type="submit" value=" 登录 " />
                        <p>
                            <input type="checkbox" name="" id="" value="" style="margin-top: 8%;" />记住密码
                            <span class="col-lg-offset-5">忘记密码</span>
                            <a href="/Login/Regist" style="margin-left: 3%;color: #000000;text-decoration: none;">去注册</a>
                        </p>
                    </div>
                </form>
                <div style="margin-top: 8%;" class="text-center">
                    <img src="../Images/line-pic2.png" width="160" />
                    <span style="font-size: 14px;">&nbsp;&nbsp;快捷登录&nbsp;&nbsp;</span>
                    <!-- <img src="../Images/wx-chat.png" > -->
                    <img src="../Images/line-pic.png" width="160" /><br />
                    <img src="../Images/wx-chat.png" style="margin-top: 8%;" />

                </div>
            </div>
        </div>
        <div class="namepwd_login hidden">
            <div class="section_content_form col-lg-3 col-lg-offset-8">
                <p class="section_content_logintype text-center">
                    <span style="color: #d3b145;" class="namepwdlogin_2">账号密码登录&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span class="yanzhengmalogin_2">&nbsp;&nbsp;手机验证码登录</span>
                </p>
                <form action="/Login/LoginUser" method="post" id="pwd_login">
                    <div class="section_content_input">
                        <div class="form-group">
                            <input type="text" name="userName" id="" value="" placeholder="&nbsp;&nbsp;用户名/邮箱地址/手机号" class="input_userName" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="userPwd" id="" value="" placeholder="&nbsp;&nbsp;请输入您的密码" class="input_userName" />

                        </div>
                        <input class="input_btn_login" type="submit" value=" 登录 " />
                        <p>
                            <input type="checkbox" name="" id="" value="" style="margin-top: 8%;" />记住密码
                            <span class="col-lg-offset-5">忘记密码</span>
                            <a href="" style="margin-left: 3%;color: #000000;text-decoration: none;">去注册</a>
                        </p>
                    </div>
                </form>
                <div style="margin-top: 8%;" class="text-center">
                    <img src="../Images/line-pic2.png" width="160" />
                    <span style="font-size: 14px;">&nbsp;&nbsp;快捷登录&nbsp;&nbsp;</span>
                    <!-- <img src="../Images/wx-chat.png" > -->
                    <img src="../Images/line-pic.png" width="160" /><br />
                    <img src="../Images/wx-chat.png" style="margin-top: 8%;" />

                </div>
            </div>
        </div>

    </div>
</section>
<script type="text/javascript">
    var verifyCode = new GVerify("v_container");
    function get_mobile_code() {
        var mobile = $('#mobile').val();
        var res = verifyCode.validate(document.getElementById("code_input").value);
    }; 
    $('#code_login').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            code: {
                validators: {
                    notEmpty: {
                        message: '验证码不能为空'
                    }
                }
            },
            userPhone: {
                validators: {
                    notEmpty: {
                        message: '手机号不能为空'
                    },
                    regexp: {
                        regexp: /^1(3|4|5|7|8)\d{9}$/,
                        message: '手机号码不符合规则'
                    }
                }
            }
        }
    });
    $('#pwd_login').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            userPwd: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    }
                }
            },
            userName: {
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            }
        }
    });
</script>
