
@{
    ViewBag.Title = "用户注册";
    Layout = "~/Views/Shared/_LayoutheadAndFooter.cshtml";
}
<style type="text/css">
    #section{
        padding-top:92px;
    }
    .section_content {
        width: 100%;
        height: 1000px;
        background-image: url(../Images/bg3.jpg);
        background-position: 0% 50%;
    }

    .section_content_form {
        /* width: 50%; */
        height: 600px;
        background-color: white;
        margin-top: 8%;
    }

    .section_content_logintype {
        font-size: 18px;
        margin-top: 10%;
        color: gray;
    }

    .section_content_input {
        width: 100%;
        height: auto;
        margin-left: 7%;
        margin-top: 3%;
    }

    .input_userName {
        width: 85%;
        height: 45px;
        background-color: whitesmoke;
        border: none;
        margin-top: 5%;
        border-radius: 10px;
        font-size: 16px;
    }

    .input_btn {
        width: 28%;
        height: 45px;
        margin-left: 5%;
        color: white;
        border: none;
        background-color: #d3b145;
        border-radius: 10px;
        font-size: 16px;
    }

    .input_btn_login {
        width: 85%;
        height: 45px;
        background-color: black;
        color: white;
        border: none;
        margin-top: 5%;
        font-size: 18px;
    }

    .show {
        display: block;
    }

    .hidden {
        display: none;
    }
</style>
<section id="section">
    <div class="section_content" style="position: relative;">
        <span class="col-lg-offset-1 col-lg-7" style="position: absolute; left: 8%;top: 30%;">
            <img src="../Images/register-text.png" />
        </span>
        <div class="yanzhengma_login">
            <div class="section_content_form col-lg-3 col-lg-offset-8">
                <p class="section_content_logintype text-center">
                    用户注册
                </p>
                <div class="section_content_input">
                    <form action="/Login/RegistUser" method="post" id="Form_Regist" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="userPhone" id="" value="" placeholder="&nbsp;&nbsp;请输入11位手机号" class="input_userName " />
                        </div>
                        <div class="form-group">
                            <input type="text" name="userPwd" id="" value="" placeholder="&nbsp;&nbsp;密码(6-20个字符)" class="input_userName" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="confirmPwd" id="" value="" placeholder="&nbsp;&nbsp;再次填写密码" class="input_userName" />
                        </div>
                        <div class="form-group">
                            <input id="" type="text" placeholder="&nbsp;&nbsp;*验证码" class="input_userName" style="width: 60%;" />
                            <span id="v_container" style=" display:inline-block;vertical-align: middle;"></span>
                        </div>
                        <div class="form-group">
                            <input class="input_btn_login" type="submit" value=" 注册 " />
                        </div>
                    </form>
                        <p>
                            <input type="checkbox" name="" id="" value="" style="margin-top: 8%;" />
                            已阅读并同意注册协议
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $('#Form_Regist').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            
            userPwd: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    stringLength: {
                        min: 6,
                        max: 12,
                        message: '密码长度必须在6到12位之间'
                    }
                }
            },
            confirmPwd: {
                validators: {
                    notEmpty: {
                        message: '确认密码不能为空'
                    },
                    identical: {  //比较是否相同
                        field: 'userPwd',  //需要进行比较的input name值
                        message: '两次密码不一致'
                    }
                }
            },
            userPhone: {
                validators: {
                    notEmpty: {
                        message: '手机号不能为空'
                    },
                    regexp: {
                        regexp: /^1(3|4|5|7|8)\d{9}$/,
                        message: '手机号码不符合规则'
                    },
                    remote: { // ajax校验，获得一个json数据（{'valid': true or false}）
                        url: '/Login/CheckPhone',       //验证地址
                        message: '手机号已存在',   //提示信息
                        type: 'POST',          //请求方式
                        data: function (validator) {  //自定义提交数据，默认为当前input name值
                            return {
                                act: 'is_registered',
                                userPhone: $("input[name='userPhone']").val()
                            };
                        }
                    }
                }
            }
        }
    });
        

    var verifyCode = new GVerify("v_container");
    function get_mobile_code() {
        var mobile = $('#mobile').val();
        var res = verifyCode.validate(document.getElementById("code_input").value);
        };


</script>

