
@{
    ViewBag.Title = "所有商品";
    Layout = "~/Views/Shared/_LayoutheadAndFooter.cshtml";
}
<section>
    <div id="content">
        <div class="col-lg-offset-2" style="padding-left: 30px; margin-top: 50px;">
            <div class="container-fluid row">
                <div class="col-lg-2" style="background-color:black; height: 30px;width: 100px;border-radius: 20px;line-height: 30px; text-align: center;">
                    <a style="color: white;">所有商品</a>
                </div>
                <div class="col-lg-2" style="background-color: #EBEBEB; height: 30px;width: 100px;border-radius: 20px;line-height: 30px; text-align: center; margin-left: 10px;"><span>所有系列</span></div>
                <div class="col-lg-8" style="text-align: right;">
                    <input style="border-radius: 20px; background-color: #EBEBEB;border: 1px solid #EBEBEB; " class="input" type="text"
                           placeholder="  输入关键字">
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2" style="padding-left: 30px; margin-top: 50px;">
            <ul class="container-fluid row content_ul">
                <li class="col-sm-3 li_hover">
                    <a target="_blank" href="/Index/GoodsInfo">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/fde868fb830e7284bd1b9406e52ea9355e1c18c0.jpg" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy ">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/b8757a49b94e416f0f07f4c4f85b304259e0ad6b.png" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/2bf618bacfcf3df2f778260b006143a8f19b0d91.jpg" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy ">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">

                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/c3e3136ce2c750c2db0c91eb6a66fef1a1e194a4.png" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/1ed06351aec357d5a7757d2990aa44f922748e81.jpg" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy ">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/6b0d8ce3480bd932ddc7746b5747dad4dca46847.jpg" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/ac3c96216c88209cd6a9d6ffa4bf1af89fa02f92.jpg" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy ">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-3 li_hover">
                    <a target="_blank">
                        <div class="pro-img-box p">
                            <img class="pro-pic" alt="果果" src="../Images/Goods/d742701ff2ac7b40814365133cb89e401dd1b4ef.jpg" height="250px">
                        </div>
                    </a>
                    <div class="pro-media-desc">
                        <div class="pro-en-name">
                            <span>Gogo </span>
                        </div>
                        <div class="pro-cn-name">
                            <span>果果</span>
                        </div>
                        <div class="pro-price">
                            <span class="pro-mark">¥</span>
                            <span>258.00</span>
                        </div>
                        <div class="pro-buy">
                            <a>
                                <img class="btn-icon" src="../Images/Icon/btn-cart-icon.png" />
                                <span>购买</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>

