
@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/Shared/_LayoutheadAndFooter.cshtml";
}
<div class="content_goodsInfo">
    <div id="GoodsInfo1" class="content_GoodsInfo_1 text-center">
        <div class="Goods_info_box">
            <form action="" method="">
                <div class="Goods_info_Img col-lg-5">
                    <div class="leftBox">
                        <div class="normalBox w">
                            <div class="w" id="n"><img src="~/Images/Goods/guashou1(1).jpg" height="600" alt=""></div>
                            <div class="w"><img src="~/Images/Goods/guashou1(3).jpg" height="600" alt=""></div>
                            <div class="w"><img src="~/Images/Goods/guashou1(2).jpg" height="600" alt=""></div>
                            <div class="w"><img src="~/Images/Goods/guashou1(4).jpg" height="600" alt=""></div>
                            <div class="moveBox"></div>
                        </div>
                        <div class="botBox">
                            <ul>
                                <li class="bord"><img src="~/Images/Goods/Goods_Gogo_1.jpg" height="76"></li>
                                <li><img src="~/Images/Goods/Goods_Gogo_2.jpg" height="76"></li>
                                <li><img src="~/Images/Goods/Goods_Gogo_3.jpg" height="76"></li>
                                <li><img src="~/Images/Goods/Goods_Gogo_4.jpg" height="76"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="magBox">
                        <ul>
                            <li class="m"><img src="~/Images/Goods/guashou1(1).jpg"></li>
                            <li><img src="~/Images/Goods/guashou1(3).jpg"></li>
                            <li><img src="~/Images/Goods/guashou1(2).jpg"></li>
                            <li><img src="~/Images/Goods/guashou1(4).jpg"></li>
                        </ul>
                    </div>
                </div>
                <div class="Goods_info_info col-lg-5 text-right">
                    <p class="Goods_name">Gogo</p>
                    <p class="Goods_name2">果果</p>
                    <div class="Goods_price">
                        <div class="Goods_price-box">
                            <span class="Goods_price_M">￥</span>
                            <span class="Goods_price_num">258</span>
                        </div>
                    </div>
                    <p class="Goods_type">Cake type | 蛋糕种类</p>
                    <p class="Goods_type2">戚风蛋糕</p>
                    <div class="Goods_Num">
                        <span class="Goods_Num_text">数量</span>
                        <input class="Goods_Num_input" value="" type="text">
                        <img class="Goods_Num_img" src="../Images/Icon/double-icon.png" alt="">
                    </div>
                    <div class="Goods_size">
                        <span class="Goods_size_text">尺寸</span>
                        <input class="Goods_size_input" value="2.5磅" type="text">
                        <img src="../Images/Icon/double-icon.png" class="Goods_size_img" alt="">
                    </div>
                    <div class="Goods_size_size">
                        <span>2.5磅</span>
                    </div>
                    <div class="Goods_time_text">
                        <span>需要提前5小时预订</span>
                    </div>
                    <div class="Goods_button">
                        <button type="button" class="Goods_button_add btn">
                            <img src="../Images/Icon/cart-icon.png" height="16" alt="">
                            <div>加入购物车</div>
                        </button>
                        <button type="button" class="Goods_button_buy btn">
                            <div>立即购买</div>
                        </button>
                    </div>
                    <div class="Goods_tiandu">
                        <span>Sweetness level | 甜度</span>
                    </div>
                    <div class="Goods_star">
                        <img src="../Images/Icon/star-icon.png" alt="">
                        <img src="../Images/Icon/star-icon.png" alt="">
                        <img src="../Images/Icon/star-icon.png" alt="">
                        <img src="../Images/Icon/star-light-icon.png" alt="">
                        <img src="../Images/Icon/star-light-icon.png" alt="">
                    </div>
                    <div class="Goods_baoxian">
                        <span>Preservation conditions｜保鲜条件</span>
                    </div>
                    <div class="Goods_baoxian_text">
                        <span>最佳保存温度0°C，最佳赏味期为24小时内</span><br>
                        <span>食用前请在室温下放置20分钟，口感更佳</span>
                    </div>
                    <div class="Goods_button_more">
                        <button class="Goods_more btn" type="button">了解更多>></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


